#content h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}
#content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#content ul li {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    margin-right: 30px;
}
.team-member {
    height: 150px;
    width: 200px;
}
.name {
    font-weight: bold;
    font-size: 1.2rem;
}
.title {
    margin-top: 20px;;
    font-size: 1.1rem;
}



